{% extends "base.html" %}
 {% block title %} 
     Home Page 
{% endblock %} 
{% block content %}
<section class="bg">
  <h3>Najot Talim N29</h3>
  <p>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo
    asperiores voluptas at odit neque, doloremque blanditiis dolorum dolor,
    voluptatem illo animi modi nisi? Minima, assumenda maxime laboriosam
    perferendis officia ullam eos. Unde ipsum nemo voluptate praesentium
    nesciunt reprehenderit, nobis minima quidem, rem dolorem sunt necessitatibus
    commodi nihil! Porro laborum corrupti repudiandae? Eius distinctio dolore
    soluta magnam sapiente obcaecati quasi! Magnam!
  </p>
</section>
{% endblock %}
